/* Variables Generales */
:root {
  --dark-grey: #303841;
  --mid-grey: #3A4750;
  --light-grey: #EEEEEE;
  --yellow: #F6C90E;
}

.bgDarkGrey {
  background-color: var(--dark-grey);
}

.bgMidGrey {
  background-color: var(--mid-grey);
}

.bgLightGrey {
  background-color: var(--light-grey);
}

.bgYellow {
  background-color: var(--yellow);
}

/* Estilos Navbar */
#mainNav {
  background-color: var(--dark-grey);
}

/* Tamaño Logo */
.logo {
  max-width: 100px;
}

/* Boton Login dentro de Offcanvas */
.loginButton {
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--dark-grey);
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 0.375rem;
}

.loginButton:hover {
  color: var(--light-grey);
}

.loginButton:active {
  color: var(--mid-grey);
}

/* Botones de navegación */
.buttonNav {
  color: var(--light-grey);
}

.buttonNav:hover {
  font-size: larger;
  color: var(--yellow);
}

.togglerNav {
  background-color: var(--light-grey);
  color: var(--yellow);
}

.nav-link:focus {
  color: var(--light-grey);
}

/* Ocultar Boton Login del Navbar expandido */
.loginButtonDisplay {
  display: none;
}

/* Breakpoint lg xl xxl */
@media (min-width: 992px) {

  /* Tamaño Logo */
  .logo {
    max-width: 150px;
  }

  /* Botones de navegación */
  .buttonNav {
  width: initial;
  text-align: center;
  }

  .buttonNav:hover {
    color: var(--yellow);
    font-size: initial;
  }

  .loginButtonDisplay {
    display: flex;
  }
}

/* Estilos Footer */
.footerLink {
  color: #757575;
}

.footerLink:hover {
  color: var(--light-grey);
}

/* Estilos Comentarios */
.pochoclo {
  width: 90px;
}

.peliss {
  height: 500px;
  width: 250px;
  margin: auto;
}

.peliss:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}

.letra {
  font-size:100px;
}

.letraresumen {
  font-size:23px;
}

#form {
  width: 250px;
  margin: 0;
  height: 50px;
}

#form p {
  text-align: start;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover, label:hover ~ label {
  color: var(--light-grey);
}

input[type="radio"]:checked ~ label {
  color:var(--light-grey);
}

.box {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
<<<<<<< HEAD
.comentario{
  height: 40px;
}
/* AGREGADOS TEMPORALES */
footer {
  border-top: 3px solid var(--light-grey);
}
=======
>>>>>>> eda5d1f5dc4e7ccf44bf11bbc0498835dae13633

.accordion {
  --bs-accordion-btn-focus-border-color: #a086fe;
  --bs-accordion-active-color: #f8f9fa;
  --bs-accordion-active-bg: #3A4750;
  --bs-accordion-btn-focus-border-color: #3A4750;
  --bs-accordion-btn-focus-box-shadow:#3A4750;
}

<<<<<<< HEAD
/* MEDIA */

@media (max-width: 768px) and (max-width: 991px){
=======
/* Media */
@media (max-width: 768px) {

>>>>>>> eda5d1f5dc4e7ccf44bf11bbc0498835dae13633
  .grid {
    display: grid;
  }

  .peliss {
    height: 500px;
    width: 300px;
    margin: auto;
  }

  .letraresumen {
    font-size:20px;
    padding: 60px;
  }
}
<<<<<<< HEAD
@media (max-width: 710.98px) {
=======

@media (max-width: 575.98px) {
>>>>>>> eda5d1f5dc4e7ccf44bf11bbc0498835dae13633
  .pochoclo {    
    height: 60px;
    width: 60px;
  }

  .peliss {
    height: 420px;
    width: 310px;
  }

  .letra{
    font-size:50px;
  }
}
@media (max-width: 1200px) {

  .letraresumen {
    font-size:20px;
  }
<<<<<<< HEAD
}
@media (max-width: 375px) {
  .pochoclo {
    width: 30px;
  }
  .letra {
      font-size: 35px;
  }
  .peliss {
    width: 200px;
  }
}
=======
}
>>>>>>> eda5d1f5dc4e7ccf44bf11bbc0498835dae13633
