/* Variables Generales */
:root {
  --dark-grey: #303841;
  --mid-grey: #3A4750;
  --light-grey: #EEEEEE;
  --yellow: #F6C90E;
}

.bgDarkGrey {
  background-color: var(--dark-grey);
}

.bgMidGrey {
  background-color: var(--mid-grey);
}

.bgLightGrey {
  background-color: var(--light-grey);
}

.bgYellow {
  background-color: var(--yellow);
}

/* Estilos Footer */
a.text-secondary:hover {
  font-size: large;
}

.logo {
  max-width: 150px;
}

/* Login */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}

.loginEstilo {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 15px 15px 20px;
}

.containerImg {
  display: flex;
  padding: 3rem;
  background-color: rgb(226, 69, 100);
  border-radius: 10px;
}

.img1 {
  width: 100%;
  justify-content: center;
}

.login h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 
}

.inpt {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);  
}

.boton1 {
  height: 50px;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 60px;
  color: white;
  font-weight: 500;
  background-color: rgba(0,0,0,0.75);
}

.boton1:hover {
  background-color: rgb(220, 20, 60);
}