/* Variables Generales */
:root {
  --dark-grey: #303841;
  --mid-grey: #3A4750;
  --light-grey: #EEEEEE;
  --yellow: #F6C90E;
}

.bgDarkGrey {
  background-color: var(--dark-grey);
}

.bgMidGrey {
  background-color: var(--mid-grey);
}

.bgLightGrey {
  background-color: var(--light-grey);
}

.bgYellow {
  background-color: var(--yellow);
}

/* Estilos Navbar */
#mainNav {
  background-color: var(--dark-grey);
}

/* Tamaño Logo */
.logo {
  max-width: 100px;
}

/* Breakpoint lg xl xxl */
@media (min-width: 992px) {

  /* Tamaño Logo */
  .logo {
    max-width: 150px;
  }
}

/* Estilos Footer */
.footerLink {
  color: #757575;
}

.footerLink:hover {
  color: var(--light-grey);
}

/* Login */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}

.loginEstilo {
  background-color: var(--light-grey);
  border-radius: 10px;
  box-shadow: 15px 15px 20px;
}

.containerImg {
  display: flex;
  padding: 3rem;
  background-color: var(--yellow);
  border-radius: 10px;
}

.img1 {
  width: 100%;
  justify-content: center;
}

.login h1 {
  font-size: 4rem;
  font-weight: 800;
}

.inpt {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);  
}

.boton1 {
  border-radius: 60px;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  border: none;
  font-weight: 500px;
}

.boton1:hover {
  background-color: var(--yellow) !important;
  color: var(--dark-grey);
  border: none;
}

@media (max-width:1000px) {
  
.containerImg {
  display: flex;
  padding: 3rem;
  background-color:var(--yellow);
  border-radius: 10px;
  display: none;
  }
}