:root {
  --dark-grey: #303841;
  --mid-grey: #3A4750;
  --light-grey: #EEEEEE;
  --yellow: #F6C90E;
}

.bgDarkGrey {
  background-color: var(--dark-grey);
}

.bgMidGrey {
  background-color: var(--mid-grey);
}

.bgLightGrey {
  background-color: var(--light-grey);
}

.bgYellow {
  background-color: var(--yellow);
}

body {
  background-color:var(--light-grey);
}

#mainNav {
  background-color: var(--dark-grey);
}

.textShadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.popcornImg {
  max-width: 4.7rem;
}

.pagination {
  --bs-pagination-color: var(--yellow);
  --bs-pagination-bg: var(--light-grey);
  --bs-pagination-hover-color: var(--mid-grey);
  --bs-pagination-focus-box-shadow: 0 0 0 0.05rem var(--light-grey);
  --bs-pagination-focus-color: var(--yellow);
  --bs-pagination-active-bg: var(--mid-grey);
  --bs-pagination-active-border-color: var(--dark-grey);
}

/* MEDIA QUERIES */
/* Breakpoint xs sm */  
@media (max-width: 767px) {

  /* Tamaño Logo */
  .logo {
      max-width: 100px;
  }

  /* Boton Login dentro de Offcanvas */
  .loginButton {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--dark-grey);
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 4px;
  }

  .loginButton:hover {
    color: var(--light-grey);
    cursor: pointer;
  }

  .loginButton:active {
    color: var(--mid-grey);
  }

  /* Botones de navegación */
  .buttonNav {
      color: var(--light-grey);
  }

  .buttonNav:hover {
    font-size: larger;
    color: var(--yellow);
  }
  
  .buttonNav:active {
    color: var(--mid-grey);
  }

  .togglerNav {
    background-color: var(--light-grey);
    color: var(--yellow);
  }

  /* Ocultar Boton Login del Navbar expandido */
  .loginButtonDisplay {
    display: none;
  }

  /* Cards */
  .cardWidth {
    width: 100%;
  }
  
  /* ASIDE */
  /* Botón Dropdown */
  .dropdownSize {
    width: 100%;
  }
}

/* Breakpoint md */
@media (min-width: 768px) and (max-width: 991px) {

  /* Tamaño Logo */
  .logo {
      max-width: 100px;
  }

  /* Boton Login dentro de Offcanvas */
  .loginButton {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--dark-grey);
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .loginButton:hover {
    color: var(--light-grey);
    cursor: pointer;
  }

  .loginButton:active {
    color: var(--mid-grey);
  }

  /* Botones de navegación */
  .buttonNav {
      color: var(--light-grey);
  }

  .buttonNav:hover {
    font-size: larger;
    color: var(--yellow);
  }
  
  .buttonNav:active {
    color: var(--mid-grey);
  }

  .togglerNav {
    background-color: var(--light-grey);
    color: var(--yellow);
  }

  /* Ocultar Boton Login del Navbar expandido */
  .loginButtonDisplay {
    display: none;
  }

  /* Cards */
  .cardWidth {
    width: 14rem;
  }

  /* ASIDE */
  /* Búsqueda y Dropdown */
  .dropdownSize, .formSize {
    width: 500px;
  }
}
  
/* Breakpoint lg xl xxl */
@media (min-width: 992px) {

  /* Tamaño Logo */
  .logo {
      max-width: 150px;
  }

  /* Botones de navegación */
  .buttonNav {
      color: var(--dark-grey);
      background-color: var(--yellow);
      border-radius: 5px;
  }

  .buttonNav:hover {
        
      color: var(--light-grey);
  }

  .buttonNav:active {
    color: var(--mid-grey);
  }

  .loginButtonDisplay {
    display: flex;
  }

  /* ASIDE */
  /* Búsqueda y Dropdown */
  .dropdownSize, .formSize {
    width: 100%;
  }
}

/* AGREGADOS TEMPORALES */
