:root {
  --dark-grey: #303841;
  --mid-grey: #3A4750;
  --light-grey: #EEEEEE;
  --yellow: #F6C90E;
}

body {
  background-color:var(--light-grey);
}

nav {
  background-color: var(--dark-grey);
}

/* Breakpoint xs sm */  
@media (max-width: 767px) {

  /* Tamaño Logo */
  .logo {
      max-width: 100px;
  }

  /* Boton Login dentro de Offcanvas */
  .loginButton {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--dark-grey);
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 4px;
  }

  .loginButton:hover {
    color: var(--light-grey);
    cursor: pointer;
  }

  .loginButton:active {
    color: var(--mid-grey);
  }
  /* Botones de navegación */
  .buttonNav {
      color: var(--light-grey);
  }

  .buttonNav:hover {
    font-size: larger;
    color: var(--yellow);
  }
  
  .buttonNav:active {
    color: var(--mid-grey);
  }

  .togglerNav {
    background-color: var(--light-grey);
    color: var(--yellow);
  }
  /* Ocultar Boton Login del Navbar expandido */
  .loginButtonDisplay {
    display: none;
  }
  /* Fin Navbar */
}

/* Breakpoint md */
@media (min-width: 768px) and (max-width: 991px) {

  /* Tamaño Logo */
  .logo {
      max-width: 100px;
  }

  /* Boton Login dentro de Offcanvas */
  .loginButton {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--dark-grey);
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .loginButton:hover {
    color: var(--light-grey);
    cursor: pointer;
  }

  .loginButton:active {
    color: var(--mid-grey);
  }

  /* Botones de navegación */
  .buttonNav {
      color: var(--light-grey);
  }

  .buttonNav:hover {
    font-size: larger;
    color: var(--yellow);
  }
  
  .buttonNav:active {
    color: var(--mid-grey);
  }

  .togglerNav {
    background-color: var(--light-grey);
    color: var(--yellow);
  }
  /* Ocultar Boton Login del Navbar expandido */
  .loginButtonDisplay {
    display: none;
  }
  /* Fin Navbar */
}
  
/* Breakpoint lg xl xxl */
@media (min-width: 992px) {

  /* Tamaño Logo */
  .logo {
      max-width: 150px;
  }

  /* Botones de navegación */
  .buttonNav {
      color: var(--dark-grey);
      background-color: var(--yellow);
      border-radius: 5px;
  }

  .buttonNav:hover {
        
      color: var(--light-grey);
  }

  .buttonNav:active {
    color: var(--mid-grey);
  }

  .loginButtonDisplay {
    display: flex;
  }
  /* Fin Navbar */
}